<template>
  <component :is="CType" class="nk-block-title">
      <slot></slot>
  </component>
</template>

<script>
  export default {
      name: 'BlockTitle',
      props: {
          tag: {
              type: String
          }
      },
      computed: {
          CType(){
              if(this.tag){
                  return this.tag
              }else{
                  return 'h3'
              }
          }
      }
  }
</script>