<!-- eslint-disable no-unused-vars -->
<template>
  <Layout content="container">
    
    <BlockHead class="nk-page-head">
      <BlockHeadContent>
        <BlockTitle tag="h1">DataTable Custom</BlockTitle>
        <BlockText>This is an example with custom markup with datatable functionality.</BlockText>
      </BlockHeadContent>
    </BlockHead>

    <Block>
      <BlockHead class="wide-md">
        <BlockTitle>Example</BlockTitle>
      </BlockHead>
      <Card>
        <CardBody>
          <div class="data-table-wrapper">
            <div class="data-table-top px-0 pt-0">
                <div class="data-table-search">
                    <input v-model="searchInput" class="form-control form-control-md" placeholder="Search by name" type="text">
                </div>
                <div class="data-table-action-wrap">
                    <div class="data-table-select">
                        <select v-model="perPage" class="form-select form-select-md">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select> 
                        <span class="text">Per page</span>
                    </div>
                </div><!-- .data-table-action-wrap -->
            </div><!-- .dataTable-top -->
            <div class="data-table-container table-responsive">
                <Table class="table-border dataTable-table">
                    <TableHead>
                        <tr>
                            <th v-for="heading in this.headings" :key="heading.index">
                                <OverlineTitle tag="span">{{ heading }}</OverlineTitle>
                            </th>
                        </tr>
                    </TableHead>
                    <TableBody>
                        <template v-if="tableData.length > 0">
                            <tr v-for="user in tableData" :key="user.index">
                              <td>{{ user.name }}</td>
                              <td>{{ user.position }}</td>
                              <td>{{ user.office }}</td>
                              <td>{{ user.age }}</td>
                              <td>{{ user.startDate }}</td>
                              <td>{{ user.salary }}</td>
                            </tr>
                        </template>
                        <template v-else>
                            <tr>
                                <td class="text-center" :colspan="this.headings.length">
                                    No Data found!
                                </td>
                            </tr>
                        </template>
                    </TableBody>
                </Table>
            </div>
            <div v-if="this.pageCount > 0" class="data-table-bottom border-top-0 px-0 pb-0">
                <div class="pagination-wrap">
                    <Paginate class="pagination-s1" v-if="this.pageCount > 1" v-model="page" :force-page="3" :page-count="pageCount" :prev-text="prev"
                    :next-text="next"></Paginate>
                    <div class="pagination-info small">{{dataInfo}}</div>
                </div>
            </div>
          </div>
        </CardBody>
      </Card>
    </Block>
  </Layout>
</template>

<script>

import Layout from '@/layout/Index.vue'
import Block from '@/components/block/BlockContainer.vue';
import BlockHead from '@/components/block/BlockHead.vue';
import BlockHeadContent from '@/components/block/BlockHeadContent.vue';
import BlockTitle from '@/components/block/BlockTitle.vue';
import BlockText from '@/components/block/BlockText.vue';
import Card from '@/components/uielements/card/Card.vue';
import CardBody from '@/components/uielements/card/CardBody.vue';
import Table from '@/components/utilities/table/Table.vue';
import TableHead from '@/components/utilities/table/TableHead.vue';
import TableBody from '@/components/utilities/table/TableBody.vue';
import OverlineTitle from '@/components/misc/OverlineTitle.vue';
import Paginate from "vuejs-paginate-next";

export default {
  name: 'DataTablesTest', 
  components: {
    Layout,
    Block,
    BlockHead,
    BlockHeadContent,
    BlockTitle,
    BlockText,
    Card,
    CardBody,
    Table,
    TableHead,
    TableBody,
    OverlineTitle,
    Paginate
  },
  data(){
    return{
      headings: ["Name","Position","Office","Age","Start Date","Salary"],
      users: [
        {
          name : "Cedric Kelly", 
          position:"Senior Javascript Developer", 
          office: "Edinburgh", 
          age: "21", 
          startDate: "2012/03/29", 
          salary:"$433,060"
        },
        {
          name : "Airi Satou", 
          position:"Accountant", 
          office: "Tokyo", 
          age: "33", 
          startDate: "2008/11/28", 
          salary:"$162,700"
        },
        {
          name : "Brielle Williamson", 
          position:"Integration Specialist", 
          office: "New York", 
          age: "61", 
          startDate: "2012/12/02", 
          salary:"$372,000"
        },
        {
          name : "Herrod Chandler", 
          position:"Sales Assistant", 
          office: "San Francisco", 
          age: "59", 
          startDate: "2012/08/06", 
          salary:"$137,500"
        },
        {
          name : "Rhona Davidson", 
          position:"Integration Specialist", 
          office: "Tokyo", 
          age: "55", 
          startDate: "2010/10/14", 
          salary:"$327,900"
        },
        {
          name : "Colleen Hurst", 
          position:"Javascript Developer", 
          office: "San Francisco", 
          age: "39", 
          startDate: "2009/09/15", 
          salary:"$205,500"
        },
        {
          name : "Sonya Frost", 
          position:"Software Engineer", 
          office: "Edinburgh", 
          age: "23", 
          startDate: "2008/12/13", 
          salary:"$103,600"
        },
        {
          name : "Jena Gaines", 
          position:"Office Manager", 
          office: "London", 
          age: "30", 
          startDate: "2008/12/19", 
          salary:"$90,560"
        },
        {
          name : "Sonya Frost", 
          position:"Software Engineer", 
          office: "Edinburgh", 
          age: "23", 
          startDate: "2008/12/13", 
          salary:"$103,600"
        },
        {
          name : "Jena Gaines", 
          position:"Office Manager", 
          office: "London", 
          age: "30", 
          startDate: "2008/12/19", 
          salary:"$90,560"
        },
        {
          name : "Sonya Frost", 
          position:"Software Engineer", 
          office: "Edinburgh", 
          age: "23", 
          startDate: "2008/12/13", 
          salary:"$103,600"
        },
        {
          name : "Jena Gaines", 
          position:"Office Manager", 
          office: "London", 
          age: "30", 
          startDate: "2008/12/19", 
          salary:"$90,560"
        },
        {
          name : "Sonya Frost", 
          position:"Software Engineer", 
          office: "Edinburgh", 
          age: "23", 
          startDate: "2008/12/13", 
          salary:"$103,600"
        },
        {
          name : "Jena Gaines", 
          position:"Office Manager", 
          office: "London", 
          age: "30", 
          startDate: "2008/12/19", 
          salary:"$90,560"
        },
        {
          name : "Sonya Frost", 
          position:"Software Engineer", 
          office: "Edinburgh", 
          age: "23", 
          startDate: "2008/12/13", 
          salary:"$103,600"
        },
        {
          name : "Jena Gaines", 
          position:"Office Manager", 
          office: "London", 
          age: "30", 
          startDate: "2008/12/19", 
          salary:"$90,560"
        },
        {
          name : "Sonya Frost", 
          position:"Software Engineer", 
          office: "Edinburgh", 
          age: "23", 
          startDate: "2008/12/13", 
          salary:"$103,600"
        },
        {
          name : "Jena Gaines", 
          position:"Office Manager", 
          office: "London", 
          age: "30", 
          startDate: "2008/12/19", 
          salary:"$90,560"
        },
        {
          name : "Sonya Frost", 
          position:"Software Engineer", 
          office: "Edinburgh", 
          age: "23", 
          startDate: "2008/12/13", 
          salary:"$103,600"
        },
        {
          name : "Jena Gaines", 
          position:"Office Manager", 
          office: "London", 
          age: "30", 
          startDate: "2008/12/19", 
          salary:"$90,560"
        },
        {
          name : "Sonya Frost", 
          position:"Software Engineer", 
          office: "Edinburgh", 
          age: "23", 
          startDate: "2008/12/13", 
          salary:"$103,600"
        },
        {
          name : "Jena Gaines", 
          position:"Office Manager", 
          office: "London", 
          age: "30", 
          startDate: "2008/12/19", 
          salary:"$90,560"
        },
      ],
      searchInput: '',
      perPage: 10,
      page: 1
    }
  },
  methods: {
    filtered(input){
        const filter = this.users.filter((user) => {
            return user.name.toLowerCase().includes(input.toLowerCase())
        })
        return filter;
    }
  },
  computed:{
    filterData(){
        return this.searchInput === '' ?  this.users : this.filtered(this.searchInput)
    },
    tableData(){
        const startIndex = parseInt(this.perPage) * (this.page - 1);
        const endIndex = startIndex + parseInt(this.perPage);
        return this.filterData.slice(startIndex, endIndex);
    },
    pageCount(){
        return Math.ceil(this.filterData.length / parseInt(this.perPage))
    },
    dataInfo(){
        let total = this.filterData.length;
        let currentMax = Math.min(parseInt(this.perPage) * this.page, this.filterData.length);
        let currentMin = parseInt(this.perPage) * this.page - parseInt(this.perPage) + 1;
        return this.pageCount < 2 ? `Showing ${total} entries` : `Showing ${currentMin} to ${currentMax} of ${total} entries`
    }
  },
  watch:{
    searchInput(newSearch){
        if(newSearch !== ''){
            this.page = 1;
        }
    },
    perPage(){
        if(this.pageCount < this.page){
            this.page = this.pageCount;
        }
    }
  }

}
</script>