<template>
    <input class="form-check-input" :value="modelValue" @input="$emit('update:modelValue', $event.target.checked)">
</template>

<script>
    export default {
        name: 'FormCheckInput'
    }
</script>
