<template>
    <ul class="nk-menu">
        <template v-for="menuItem in menuData" :key="menuItem.id">
            <MenuHeading v-if="menuItem.heading" :title="menuItem.heading"></MenuHeading>
            <MenuList v-if="!menuItem.heading" :url="menuItem.url" :title="menuItem.title" :icon="menuItem.icon" :submenu="menuItem.subMenus">
                <ul class="nk-menu-sub">
                    <template v-for="menuItem in menuItem.subMenus" :key="menuItem.id">
                        <MenuHeading v-if="menuItem.heading" :title="menuItem.heading"></MenuHeading>
                        <MenuList v-if="!menuItem.heading" :url="menuItem.url" :title="menuItem.title" :icon="menuItem.icon" :submenu="menuItem.subMenus">
                            <ul class="nk-menu-sub">
                                <template v-for="menuItem in menuItem.subMenus" :key="menuItem.id">
                                    <MenuHeading v-if="menuItem.heading" :title="menuItem.heading"></MenuHeading>
                                    <MenuList v-if="!menuItem.heading" :url="menuItem.url" :title="menuItem.title" :icon="menuItem.icon" :submenu="menuItem.subMenus">
                                        <ul class="nk-menu-sub">
                                            <template v-for="menuItem in menuItem.subMenus" :key="menuItem.id">
                                                <MenuHeading v-if="menuItem.heading" :title="menuItem.heading"></MenuHeading>
                                                <MenuList v-if="!menuItem.heading" :url="menuItem.url" :title="menuItem.title" :icon="menuItem.icon" :submenu="menuItem.subMenus"></MenuList>
                                            </template>
                                        </ul>
                                    </MenuList>
                                </template>
                            </ul>
                        </MenuList>
                    </template>
                </ul>
            </MenuList>
        </template>
    </ul><!-- .nk-menu -->
</template>

<script>
import { v4 as uuidv4 } from 'uuid';

import MenuHeading from './MenuHeading.vue';
import MenuList from './MenuList.vue';
import getParents from '@/utilities/getParents';
import slideUp from '@/utilities/slideUp';
import slideDown from '@/utilities/slideDown';

const menuData = [
    {
        id: uuidv4(),
        icon: 'dashboard',
        title: 'Dashboard',
        url:   '#',
        subMenus: [
            {
                id: uuidv4(),
                title: 'Default / Analytics',
                url: '/'
            },
            {
                id: uuidv4(),
                title: 'eCommerce',
                url: '/home-ecommerce'
            },
            {
                id: uuidv4(),
                title: 'Project Manage',
                url: '/home-project'
            },
            {
                id: uuidv4(),
                title: 'Marketing',
                url: '/home-marketing'
            },
            {
                id: uuidv4(),
                title: 'NFT',
                url: '/home-nft'
            },
        ]
    },
    {
        id: uuidv4(),
        heading: 'Applications'
    },
    {
        id: uuidv4(),
        icon: 'chat-circle',
        title: 'Chat',
        url: '/apps/chats',
    },
    {
        id: uuidv4(),
        icon: 'inbox',
        title: 'Inbox',
        url: '/apps/inbox',
    },
    {
        id: uuidv4(),
        icon: 'calendar-booking',
        title: 'Calendar',
        url: '/apps/calendar',
    },
    {
        id: uuidv4(),
        icon: 'grid-alt',
        title: 'Kanban board',
        url: '',
        subMenus: [
            {
                id: uuidv4(),
                title: 'Basic',
                url: '/apps/kanban/basic'
            },
            {
                id: uuidv4(),
                title: 'Custom Board',
                url: '/apps/kanban/custom'
            },
        ]
    },
    {
        id: uuidv4(),
        icon: 'users',
        title: 'User Management',
        url:   '',
        subMenus: [
            {
                id: uuidv4(),
                title: 'Users List',
                url: '/user-manage/user-list'
            },
            {
                id: uuidv4(),
                title: 'Users Cards',
                url: '/user-manage/user-cards'
            },
            {
                id: uuidv4(),
                title: 'User Profile',
                url: '/user-manage/user-profile/uid01'
            },
            {
                id: uuidv4(),
                title: 'User Edit',
                url: '/user-manage/user-edit/uid01'
            },
        ]
    },
    {
        id: uuidv4(),
        icon: 'bag',
        title: 'eCommerce',
        url:   '',
        subMenus: [
            {
                id: uuidv4(),
                title: 'Products',
                url: '/ecommerce/products'
            },
            {
                id: uuidv4(),
                title: 'Categories',
                url: '/ecommerce/categories'
            },
            {
                id: uuidv4(),
                title: 'Add Product',
                url: '/ecommerce/add-product'
            },
            {
                id: uuidv4(),
                title: 'Edit Product',
                url: '/ecommerce/edit-product/uid01'
            },
            {
                id: uuidv4(),
                title: 'Add Category',
                url: '/ecommerce/add-category'
            },
            {
                id: uuidv4(),
                title: 'Edit Category',
                url: '/ecommerce/edit-category/uid01'
            },
        ]
    },
    {
        id: uuidv4(),
        heading: 'components'
    },
    {
        id: uuidv4(),
        icon: 'layers',
        title: 'Ui Elements',
        url:   '/components',
        subMenus: [
            {
                id: uuidv4(),
                title: 'Accordion',
                url: '/components/accordion'
            },
            {
                id: uuidv4(),
                title: 'Alerts',
                url: '/components/alerts'
            },
            {
                id: uuidv4(),
                title: 'Badge',
                url: '/components/badge'
            },
            {
                id: uuidv4(),
                title: 'Breadcrumb',
                url: '/components/breadcrumb'
            },
            {
                id: uuidv4(),
                title: 'Buttons',
                url: '/components/buttons'
            },
            {
                id: uuidv4(),
                title: 'Button group',
                url: '/components/button-group'
            },
            {
                id: uuidv4(),
                title: 'Card',
                url: '/components/cards'
            },
            {
                id: uuidv4(),
                title: 'Carousel',
                url: '/components/carousel'
            },
            {
                id: uuidv4(),
                title: 'Close button',
                url: '/components/close-button'
            },
            {
                id: uuidv4(),
                title: 'Collapse',
                url: '/components/collapse'
            },
            {
                id: uuidv4(),
                title: 'Dropdowns',
                url: '/components/dropdown'
            },
            {
                id: uuidv4(),
                title: 'List group',
                url: '/components/list-group'
            },
            {
                id: uuidv4(),
                title: 'Modal',
                url: '/components/modal'
            },
            {
                id: uuidv4(),
                title: 'Tabs',
                url: '/components/tabs'
            },
            {
                id: uuidv4(),
                title: 'Offcanvas',
                url: '/components/offcanvas'
            },
            {
                id: uuidv4(),
                title: 'Pagination',
                url: '/components/pagination'
            },
            {
                id: uuidv4(),
                title: 'Placeholders',
                url: '/components/placeholders'
            },
            {
                id: uuidv4(),
                title: 'Popovers',
                url: '/components/popovers'
            },
            {
                id: uuidv4(),
                title: 'Progress',
                url: '/components/progress'
            },
            {
                id: uuidv4(),
                title: 'Spinners',
                url: '/components/spinners'
            },
            {
                id: uuidv4(),
                title: 'Toasts',
                url: '/components/toasts'
            },
            {
                id: uuidv4(),
                title: 'Tooltips',
                url: '/components/tooltips'
            },
            {
                id: uuidv4(),
                title: 'Utility',
                url:   '',
                subMenus: [
                    {
                        id: uuidv4(),
                        title: 'Miscellaneous',
                        url: '/utilities/misc'
                    },
                    {
                        id: uuidv4(),
                        title: 'Typography',
                        url: '/utilities/typography'
                    },
                    {
                        id: uuidv4(),
                        title: 'Images',
                        url: '/utilities/image'
                    },
                    {
                        id: uuidv4(),
                        title: 'Tables',
                        url: '/utilities/tables'
                    },
                    {
                        id: uuidv4(),
                        title: 'Background',
                        url: '/utilities/background'
                    },
                    {
                        id: uuidv4(),
                        title: 'Borders',
                        url: '/utilities/borders'
                    },
                    {
                        id: uuidv4(),
                        title: 'Colors',
                        url: '/utilities/colors'
                    },
                    {
                        id: uuidv4(),
                        title: 'Flex',
                        url: '/utilities/flex'
                    },
                    {
                        id: uuidv4(),
                        title: 'Sizing',
                        url: '/utilities/sizing'
                    },
                    {
                        id: uuidv4(),
                        title: 'Spacing',
                        url: '/utilities/spacing'
                    },
                ]
            },
            {
                id: uuidv4(),
                title: 'Layout',
                url:   '',
                subMenus: [
                    {
                        id: 1,
                        title: 'Breakpoints',
                        url: '/layout/breakpoints'
                    },
                    {
                        id: 2,
                        title: 'Containers',
                        url: '/layout/containers'
                    },
                    {
                        id: 3,
                        title: 'Gutters',
                        url: '/layout/gutters'
                    },
                ]
            }
        ]
    },
    {
        id: uuidv4(),
        icon: 'package',
        title: 'Forms',
        url:   '',
        subMenus: [
            {
                id: uuidv4(),
                title: 'Form Controls',
                url: '/forms/form-control'
            },
            {
                id: uuidv4(),
                title: 'Form Select',
                url: '/forms/form-select'
            },
            {
                id: uuidv4(),
                title: 'Date & Time Picker',
                url: '/forms/date-time'
            },
            {
                id: uuidv4(),
                title: 'Form Upload',
                url: '/forms/form-upload'
            },
            {
                id: uuidv4(),
                title: 'Input group',
                url: '/forms/input-group'
            },
            {
                id: uuidv4(),
                title: 'Floating labels',
                url: '/forms/floating-labels'
            },
            {
                id: uuidv4(),
                title: 'Checks and radios',
                url: '/forms/checks-radios'
            },
            {
                id: uuidv4(),
                title: 'Form Range',
                url: '/forms/form-range'
            },
            {
                id: uuidv4(),
                title: 'Form Validation',
                url: '/forms/form-validation'
            },
            {
                id: uuidv4(),
                title: 'Form Layout',
                url: '/forms/form-layout'
            },
            {
                id: uuidv4(),
                title: 'Rich Editors',
                url:   '',
                subMenus: [
                    {
                        id: uuidv4(),
                        title: 'Quill',
                        url: '/forms/editors/quill'
                    },
                    {
                        id: uuidv4(),
                        title: 'Tinymce',
                        url: '/forms/editors/tinymce'
                    }
                ]
            },
        ]
    },
    {
        id: uuidv4(),
        icon: 'dot-box',
        title: 'Icons',
        url:   '/icons',
    },
    {
        id: uuidv4(),
        icon: 'table-view',
        title: 'Data tables',
        url:   '/data-tables-custom',
    },
    {
        id: uuidv4(),
        icon: 'pie',
        title: 'Charts',
        url:   '/charts',
    },
    {
        id: uuidv4(),
        icon: 'alert-c',
        title: 'Sweetalert',
        url:   '/sweetalert',
    },
    {
        id: uuidv4(),
        heading: 'misc pages'
    },
    {
        id: uuidv4(),
        icon: 'signin',
        title: 'Auth Pages',
        url:   '',
        subMenus: [
            {
                id: uuidv4(),
                title: 'Auth Register',
                url: '/auths/auth-register'
            },
            {
                id: uuidv4(),
                title: 'Auth Login',
                url: '/auths/auth-login'
            },
            {
                id: uuidv4(),
                title: 'Forgot Password',
                url: '/auths/auth-reset'
            },
        ]
    },
    {
        id: uuidv4(),
        icon: 'files',
        title: 'Page 404',
        url:   '/error/not-found',
    },
]

export default {
  name: 'MenuContainer',
  components: {
    MenuHeading,
    MenuList
  },
  data () {
    return {
      menuData
    }
  },
  mounted(){
    // variables for Sidebar
    let menu = {
        classes: {
            main: 'nk-menu',
            item:'nk-menu-item',
            link:'nk-menu-link',
            toggle: 'nk-menu-toggle',
            sub: 'nk-menu-sub',
            subparent: 'has-sub',
            active: 'active',
            current: 'current-page'
        },
    };
    // set active class to sidebar element path
    let currentLink = function(selector){
        let elm = document.querySelectorAll(selector);
        elm.forEach(function(item){
            var activeRouterLink = item.classList.contains('router-link-active');
            if (activeRouterLink) {
                let parents = getParents(item,`.${menu.classes.main}`, menu.classes.item);
                parents.forEach(parentElemets =>{
                    parentElemets.classList.add(menu.classes.active, menu.classes.current);
                    let subItem = parentElemets.querySelector(`.${menu.classes.sub}`);
                    subItem !== null && (subItem.style.display = "block")
                })
                item.scrollIntoView({ block: "start"})
                
            } else {
                item.parentElement.classList.remove(menu.classes.active, menu.classes.current);
            }
        })
    } 

    currentLink(`.${menu.classes.link}`);

    // dropdown load
    let dropdownLoad = function(elm){
        let parent = elm.parentElement;
        if(!parent.classList.contains(menu.classes.subparent)){
            parent.classList.add(menu.classes.subparent);
        }
    }

    // dropdown toggle
    let dropdownToggle = function(elm){
        let parent = elm.parentElement;
        let nextelm = elm.nextElementSibling;
        let speed = nextelm.children.length > 5 ? 400 + nextelm.children.length * 10 : 400;
        if(!parent.classList.contains(menu.classes.active)){
        parent.classList.add(menu.classes.active);
            slideDown(nextelm,speed);
        }else{
        parent.classList.remove(menu.classes.active);
            slideUp(nextelm,speed);
        }
    }

    // dropdown close siblings
    let closeSiblings = function(elm){
        let parent = elm.parentElement;
        let siblings = parent.parentElement.children;
        Array.from(siblings).forEach(item => {
        if(item !== parent){
            item.classList.remove(menu.classes.active);
            if(item.classList.contains(menu.classes.subparent)){
            let subitem = item.querySelectorAll(`.${menu.classes.sub}`);
            subitem.forEach(child => {
                child.parentElement.classList.remove(menu.classes.active);
                slideUp(child,400);
            })
            }
        }
        });
    }
    // dropdown init
    let DropdownInit = function (selector){
        const elm = document.querySelectorAll(selector);
        elm.forEach(item => {
            dropdownLoad(item);
            item.addEventListener("click", function(e){
                e.preventDefault();
                dropdownToggle(item);
                closeSiblings(item);
            });
        })
    }

    DropdownInit(`.${menu.classes.toggle}`);

  }
}
</script>
